.contenedor {
  background-image: url("./banner-home.png");
  background-position: center;
  background-size: cover;
  height: 832px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 0 35px;
  gap: 30px;
}

.box_titulos {
  flex-grow: 2;
}

.box_video{
  flex-grow: 1.75;
}

/* Tablet: entre 600px y 1024px */
@media (min-width: 600px) and (max-width: 1024px) {
  /* Tus estilos para tablet aquí */
}

/* Mobile: hasta 600px */
@media (max-width: 600px) {
  /* Tus estilos para celulares aquí */
  .contenedor {
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    margin: 0;
    background-image: none;
    gap: 0;
  }

  .box_titulos, .box_video {
    padding: 0;
    margin: 0;
    max-width: 100%;
    width: 100%;
    flex-grow: 1;
   
  }
}
