.contenedor {
  background-image: url("./banner-home.png");
  background-position: center;
  background-size: cover;
  height: 832px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 0 35px;
  gap: 50px;
}

.box_titulos {
  flex-grow: 1;
  max-width: 500px;
  flex-shrink: 1;
}

.box_titulos div:first-child{
  width: 296px;
  height: 92px;
}

.box_video {
  flex-grow: 1;
  max-width: 700px;
  flex-shrink: 1;
}

.box_video iframe{
  width: 100%;
}

/* Tablet: entre 600px y 1024px */
@media (min-width: 600px) and (max-width: 1024px) {
  /* Tus estilos para tablet aquí */
.box_titulos {
  width: 35%;
}

.box_titulos div:first-child{
  width: 282px;
}

.box_video iframe{
  width: 100%;
  height: 215px;
}


}

/* Mobile: hasta 600px */
@media (max-width: 600px) {
  /* Tus estilos para celulares aquí */
  .contenedor {
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    margin: 0;
    background-image: none;
    gap: 0;
  }

  .box_titulos,
  .box_video {
    padding: 0;
    margin: 0;
    max-width: 100%;
    width: 100%;
    flex-grow: 1;
  }
}
