.contenedor_principal {
  background-color: #262626;
  font-family: "Roboto", sans-serif;
}


/* Tablet: entre 600px y 1024px */
@media (min-width: 600px) and (max-width: 1024px) {
  /* Tus estilos para tablet aquí */
}

/* Mobile: hasta 600px */
@media (max-width: 600px) {
  /* Tus estilos para celulares aquí */
  .contenedor_principal{
    padding: 15px;
    margin-bottom: 100px;
  }
}
