.contenedor_card {
  width: 420px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: 5px solid #6bd1ff;
  cursor: pointer;
}

.contenedor_card:hover {
  transform: scale(1.02);
}

.imagen_video {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 11px 11px 0 0;
}

.contenedor_opciones {
  width: 420px;
  height: 60px;
  display: flex;
  justify-content: space-around;

  background-color: #000000;
  color: #ffffff;
  border-radius: 0 0 15px 15px;
  border-top: 5px solid;
}

.borrar_editar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.iconos {
  width: 25px;
  height: 28px;
}


/* Tablet: entre 600px y 1024px */
@media (min-width: 600px) and (max-width: 1024px) {
  /* Tus estilos para tablet aquí */
}

/* Mobile: hasta 600px */
@media (max-width: 600px) {
  /* Tus estilos para celulares aquí */
.contenedor_card{
  width: 370px;
  height: auto;
}

.contenedor_opciones{
  width: 370px;
}


}